<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="container">
  <div class="jumbotron">
    <table class="tablestyle">
      <tr>
        <th> <img src={{userDetails.avatar_url}} alt="Mountain View" class="userImageStyle">
          <b style="vertical-align: 10%">   {{userDetails.name}}</b></th>
        <br>
        <br>
        <br>
      </tr>
      <tr>
        <td style="width:500px">Username</td>
        <td style="color:gray">{{userDetails.login}}</td>
      </tr>
      <br>
      <tr>
        <td style="width:500px">Location</td>
        <td style="color:gray">{{userDetails.location}}</td>
      </tr>
      <br>
      <tr>
        <td style="width:500px">Company</td>
        <td style="color:gray">{{userDetails.company}}</td>
      </tr>
      <br>
      <tr>
        <td style="width:300px">Blog Link</td>
        <td style="color:gray">{{userDetails.blog}}</td>
      </tr>
      <br>
    </table>
    <br>
    <div style="position:relative; margin-left:50px;align-content:center">
      <div class="blockStyle" style="background-color:darkblue;">
        <p class="blockTextStyle">{{userDetails.public_repos}} Public Repoa</p>
      </div>
      <div class="blockStyle" style="background-color:green;">
        <p class="blockTextStyle"> {{userDetails.followers}} Followers</p>
      </div>
      <div class="blockStyle" style=" background-color:darkslategrey;">
        <p class="blockTextStyle">{{userDetails.following}} following</p>
      </div>
    </div>
  
    <br>
    <br>
    <div style="text-align:center">
      <input type="button" class="buttonStyle" (click)="show()" value="VIEW REPO">
    </div>
  </div>

</div>