.list_item{
margin-bottom: 30px;
  padding: 10px;
  background-color: white;
  box-shadow: 1px;
  box-shadow: 6px 6px 3px #888888;
  border-radius: 5px;
  color :black;
 padding-left: 15px;
 
}
.textstyle{
  
font-size: 16px;
text-decoration: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color:black}

.imageStyle{width:40px; 
  height:40px;
  border-radius:50%}

  .headingStyle{
    text-align:center; 
      padding:10px;
      margin-top:60px;
  }

  .ng-cloak {
  display: none !important;
}

