<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="container" >
  <p class="textStyle">
    Clairvoyant is a leading big data technology consulting company with presence in North America and Asia. We help organizations
    build innovative products and platforms using data, analytics and the cloud. Over the years, we have had the privilege of working with many great brands.
  </p>
</div>